<div th:fragment="header">
  <header>
    <div class="px-3 py-2 text-bg-dark border-bottom">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
          </a>

          <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
            <li>
              <a href="/" class="nav-link text-white"> <!-- Змінено з text-secondary на text-white -->
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#home"></use></svg>
                Вийти з акаунту
              </a>
            <li class="other">
            <li class="without other">
              <a href="/category" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#speedometer2"></use></svg>
                Категорії
              </a>
            </li>
            <li class="other">
              <a href="/products" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#table"></use></svg>
                Продукти
              </a>
            </li>
            <li class="other">
              <a href="/storeProducts" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#table"></use></svg>
                Товари
              </a>
            </li>
            <li class="other">
              <a href="/clients" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#table"></use></svg>
                Клієнти
              </a>
            </li>
            <li class="other">
              <a href="/checkStore" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#table"></use></svg>
                Чеки
              </a>
            </li>
            <li class="other">
              <a href="/login" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#grid"></use></svg>
                Вхід
              </a>
            </li>
            <li class="without other">
              <a href="/user" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#people-circle"></use></svg>
                Працівники
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <script>
    var words;
    var firstWord;

    fetch('/get-file-content')
            .then(response => response.text())
            .then(text => {
              // Розбиваємо текст на слова
              words = text.split(/\s+/);
              // Беремо перше слово
              firstWord = words[0];
              console.log('Перше слово файлу:', firstWord);

              if (firstWord==="Менеджер" || firstWord==="менеджер") {
                console.log("нетозапустився")
                var withoutElements = document.querySelectorAll('li.other');

                // Змінюємо стиль кожного елемента на "display: none"
                withoutElements.forEach(function(element) {
                  element.style.display = 'block';
                });
              } else if (firstWord==="Касир" || firstWord==="касир") {
                // Отримуємо всі елементи з класом "without"
                var withoutElements = document.querySelectorAll('li.without');

                // Змінюємо стиль кожного елемента на "display: none"
                withoutElements.forEach(function(element) {
                  element.style.display = 'none';
                });
              } else {
                var withoutElements = document.querySelectorAll('li.other');

                // Змінюємо стиль кожного елемента на "display: none"
                withoutElements.forEach(function(element) {
                  element.style.display = 'none';
                });
              }
            })
            .catch(error => console.error('Помилка читання файлу:', error));

  </script>
</div>

